{% include 'base/header.html' %}

<div style="margin: 15px">
    {{ iframe|safe }}
    <div style="margin: 15px">
        <button id="add_route_btn_point" type="button" class="btn btn-primary"
                onclick="location.href='{{ url_for('folium_map_add_route') }}';" >Создать новый маршрут по точкам
        </button>
        <button id="add_route_btn_borders" type="button" class="btn btn-primary"
                onclick="location.href='{{ url_for('folium_map_add_route_point') }}';" >Создать новый маршрут по границам
        </button>
    </div>
</div>


{% include 'folium/map_scripts.html' %}
{% include 'base/footer.html' %}