<!--&lt;!&ndash; jQuery &ndash;&gt;-->
<!--<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>-->
<!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
<!--<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" crossorigin="anonymous"></script>-->

<!-- Подключаем файл для создания enum -->
<script src="{{ url_for('static', filename='js/enum.js') }}" crossorigin="anonymous"></script>
<!-- Подключаем класс, который будет служить базовым отправителем запросов, и если что будет красиво выдавать ошибки пользователю -->
<script src="{{ url_for('static', filename='js/ServerConnection.js') }}" crossorigin="anonymous"></script>
<!-- Подключаем класс, который будет помогать работать с видео потоком отправляемым с сервера -->
<script src="{{ url_for('static', filename='js/Cam_helper.js') }}" crossorigin="anonymous"></script>
<!-- Подключаем класс, который будет помогать работать с "URL" -->
<script src="{{ url_for('static', filename='js/URL_Helper.js') }}" crossorigin="anonymous"></script>

<!-- Подключаем js для работы с вкладкой настроек -->
<script src="{{ url_for('static', filename='js/SettingsController.js') }}" crossorigin="anonymous"></script>


<!-- Подключаем вывод сообщений пользователю -->
{% include 'base/baseUserInfo.html' %}