{% include 'base/header.html' %}
<div class="container">
    <p class="text-justify">Вы подключились к сайту интеллектуальной роботизированной модульной платформой. Это многофункциональная платформа способная выполнять широкий спектр задач.</p>
    <p class="text-justify">Основной особенностью платформы является её модульность. Именно возможность установки различных модулей позволяет платформе выполнять широкий спектр задач.</p>
    <p class="text-justify">Если по вашему мнению платформа совершать некорректные действия, то вы можете нажать на кнопку "аварийная остановка" справа вверху и платформа остановит выполнение операции.</p>
    <p class="text-justify">Следует заметить что действия с платформой записываются в файл, а видеокамера постоянно записывает видео работы.</p>
    <p class="text-justify">Дополнительную информацию о платформе вы можете посмотреть на сайте производителя или в инструкции пользователя.</p>
</div>
{% include 'base/footer.html' %}