{% include 'base/header.html' %}
<div class="container">
    <h3> Настройка WI-FI сети </h3>
    <div>
        <div class="form-group">
            <label class="control-label">Введите название новой WI-FI сети</label>
            <input type="text" class="form-control" id="inputWIFISSID">
        </div>
        <div class="form-group">
            <label class="control-label">Введите пароль новой WI-FI сети</label>
            <input type="text" class="form-control" id="inputWIFIPASSWORD">
        </div>
    </div>
    <button id="button_connect_to_wifi" type="button" class="btn btn-info">
        Подключиться к WI-FI сети
    </button>
    <hr>

    <h3> Обновление системы и модулей </h3>
    <div>
        <button type="button" class="btn btn-default" id="update_system">Обновить систему и модули</button>
    </div>
    <hr>

    <h3> Работа с модулями </h3>
    <div>
        <button type="button" class="btn btn-default" id="update_module">Провести поиск установленных модулей</button>
    </div>
    <h4> Управление модулями </h4>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Имя модуля</th>
            <!--            <th>Путь к модулю</th>-->
            <th>Поддержка платформой</th>
            <th>Статус</th>
            <th>Ошибки при инициализации</th>
            <th>Отключить модуль</th>
        </tr>
        </thead>
        <tbody>
        {% for name_module, module_settings in modules.items() %}
        <tr>
            <td>{{ module_settings.name }}</td>
            <!--            <td>{{ module_settings.path }}</td>-->
            {% if module_settings.module_is_supported %}
            <td>Поддерживается</td>
            {% else %}
            <td>Не поддерживается</td>
            {% endif %}
            {% if module_settings.is_disabled %}
            <td>Отключён</td>
            {% else %}
            <td>Активирован</td>
            {% endif %}
            {% if module_settings.error_init_module %}
            <td>Ошибки при инициализации</td>
            {% else %}
            <td>Нет ошибок</td>
            {% endif %}
            {% if module_settings.is_disabled %}
            <td>
                <button id="{{module_settings.path}}_activate" name="activate_module" type="button" class="btn btn-info">
                    Активировать модуль
                </button>
            </td>
            {% else %}
            <td>
                <button id="{{module_settings.path}}_disable" name="disable_module" type="button" class="btn btn-warning">
                    Отключить модуль
                </button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
</div>

{% include 'base/footer.html' %}